{% extends 'base.html' %}
{% block title %} Account {% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="welcome">
      <br>
      <h1> Your account: </h1>
      <h3 class="big_print">
        Your age: {{ user.profile.age }}<br>
        Your gender: {{ user.profile.gender }}<br>
        Your height: {{ user.profile.height }} <br>
        Your weight: {{ user.profile.weight }} <br></h3>
      <h2><a class="nav-link update" href="{% url 'update' %}">Update your account!</a></h2>
    </div>
  </div>
</div>

{% endblock %}