{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div style="margin-left:15vw;">
      <br>
      <h1 style ="font-size:60px;"> Your activity: </h1>
      <h3 class="big_print">
        Date: {{activity.date}}<br>
        Duration: {{activity.duration}} min<br>
        Distance: {{activity.distance}} km<br>
        Calories:{{calories}} kcal<br>
        Tempo:{{tempo}} min/km<br>
        Comment: {{activity.comment}} <br></h3>
      <h2><a class="nav-link update" href="{% url 'edit' activity.id %}">Edit this activity!</a></h2>
      <h2><a class="nav-link update" href="{% url 'remove' activity.id %}">Delete this activity!</a></h2>
    </div>
  </div>
</div>

{% endblock %}