{% extends 'base.html' %}
{% block title %} Stats {% endblock %}
{% block content %}

{% if count %}

<div class="jumbotron">
  <div class="container">
    <div style="margin-left:15vw;">
      <br>
      <h1 style="font-size:60px;"> Your stats are: </h1>
      <p class="small_print">*based on past activities</p><br>
      <h3 class="big_print">
        Number of activites: {{count}} <br>
        Calories burned: {{calories}} kcal<br>
        Distance: {{distance}} km <br>
        Active time: {{time}} min <br>
        Average tempo: {{avg_tempo}} min/km<br>
      </h3>
      <br><br>
    </div>
  </div>
</div>

{% else %}

<div class="text-center">
  <h3 style="padding-top:30vh; font-size: 60px;"> Add some past activities first!</h3><br>
  <a href="{% url 'add_activity' %}" class="btn btn-info btn-lg">Click!</a>
</div>

{% endif %}
{% endblock %}